<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" type="image/x-icon" href="/favicon.ico"/>
  </head>
  <body>
  <nav>
    <a href="/">
      <img src="https://www.it-akademy.fr/img/xit-akademy-logo.png.pagespeed.ic.j4B-WGIq2B.png" alt="it-akademy"/>
    </a>
  </nav>
    {% block body %}{% endblock %}
  </body>
</html>
